[2019-07-11 22:44] michaelwschultz opened #4 "Click on social login link in a new popup (which Cypress doesn't have access to)"
Nice little plugin! This is going to be really helpful if I can get it working.

I've turned off headless so I can see what's happening. The google login window opens automatically but I can't seem to get it to fill in the creds. Any ideas?

![Screen Shot 2019-07-11 at 3 41 57 PM](https://user-images.githubusercontent.com/57668/61090231-a0ff2680-a3f2-11e9-9f0f-f5386ca3f7dd.png)

[2019-07-12 00:11] lirantal commented on #4
@michaelwschultz thanks, let's try to figure this out.

can you post a more wholesome picture of what's going on or a video? since this is e2e it will help to get more context on where it fails.

also, can you manually trigger the `connect with google` window and then check if the google sign-in page has that email input type on the page with devtools?

[2019-07-12 00:35] michaelwschultz commented on #4
@lirantal absolutely! I'll post a video soon. But yes, I've verified the input is on the google popup.

[2019-07-12 17:32] michaelwschultz commented on #4
@lirantal video!

https://www.loom.com/share/0050194238a4488193a1009fd27288f2

[2019-07-14 18:50] lirantal commented on #4
I can't spot anything bad there.
Tried to run it on a local site and the email part works well for me:

![image](https://user-images.githubusercontent.com/316371/61187890-20555a00-a680-11e9-995d-3b8106fa0c27.png)

Seems you already have the domain chosen while in my picture the email field is entirely empty, so perhaps that's a different form indeed and we need to tweak the selector.

I can sugges

[2019-07-15 22:09] michaelwschultz commented on #4
Yeah, I think it selects the field automatically when the window opens. Interesting that it doesn't do that for you. I'll try messing around with that function and see if I can't get it to work. Thanks for taking a look. I'll report back!

[2019-07-15 22:34] raptatinha commented on #4
Hey @michaelwschultz, nice to meet you :)
I'm Renata and I had the same issue when I was passing wrongly the 'username' data to be typed in the code.
So, a few tips for you to double check:

1. If you are using a data file, make sure your data file is correct, here is an example of a loginData.js:
[code]
in my login spec file login.spec.js i have something like this (**make sure you have no TYPO**

[2019-07-16 20:03] michaelwschultz commented on #4
Hey @raptatinha! Thank you so much for your help. I'll give this a shot later today. One question I have. How did you determine your loginSelector? It looks significantly different to what's in the template.

[2019-07-16 20:12] lirantal commented on #4
the `loginSelector` comes from you, in the app you develop that is. That is basically the selector of the button/link/image on your own webpage that needs to be clicked in order to trigger the "Connect with Google" scenario.

[2019-07-16 20:13] lirantal commented on #4
Let us know how it goes and feel free to brainstorm with us the issue. We'd love to help ❤️

[2019-07-16 20:28] michaelwschultz commented on #4
@lirantal oh yeah, duh. Sorry I have that part working fine.

[2019-07-23 12:55] zrana commented on #4
@lirantal
I am also facing the same issue.
CypressError: cy.task('GoogleSocialLogin') failed with the following error:

I had tried with different selector in src/plugin.js but getting the same error, any help?

[2019-07-23 15:50] kashifch commented on #4
@lirantal @michaelwschultz

This might help in debugging the issue, the problem is that the login page is opened in a separate chromium window and Cypress is able to click on the login button there, after that the email field appears in a new pop up and Cypress is unable to detect this pop up, when I copied the url of resulting popup and pasted it in original chromium page Cypress immediately pick

[2019-07-24 15:54] id-dan commented on #4
Hi @michaelwschultz !
FYI: It is not good solution to use external pop-up for login via social networks because pop-up can be blocked by browser's settings.

For ex:
![image](https://user-images.githubusercontent.com/52101871/61808961-159b8180-ae45-11e9-94d5-b1ddc90c87de.png)

[2019-07-27 14:32] lirantal commented on #4
@kashifch @zrana: to see if I understood correctly - you provide the plugin with the selector of the social login button to click on. This selector needs to be available on the DOM of the page you are testing with Cypress. If the Login button itself is in another popup then indeed this plugin can't access it.

However I don't think that's the case.
I think I was able to reproduce the problem now s

[2019-07-27 14:44] lirantal commented on #4
@kashifch
So I think we nailed it indeed and it eluded me from your video - the fact that the Login button opens the login phase (user/pass etc) in a new popup is the culprit as the plugin has no idea where to look for it.

A couple of action items we can work on:
1. Are you able to change the experience to make the login work on the same tab by navigating to the social login? if so that's the eas

[2019-08-07 10:52] zrana commented on #4
@lirantal @michaelwschultz

I have forked the [repo](https://github.com/zrana/cypress-social-logins) and merged potential fix into master, please review. I have added a check which will switch to pop up if there is one and perform login operation there. otherwise it will stay on same page and add credentials.

[2019-08-09 17:55] michaelwschultz commented on #4
@id-dan That's a great point! We should fix this in our auth config.

[2019-08-09 17:59] michaelwschultz commented on #4
@zrana amazing! I'll take a look! @lirantal @id-dan @kashifch thanks for all your help! Excited to get this up and running. It's going to make all the rest of our end-to-end testing a breeze. 👍

[2019-08-09 18:00] michaelwschultz commented on #4
@zrana really elegant solution. You should put up a PR on @lirantal's repo.

[2019-08-09 19:31] lirantal commented on #4
@zrana definitely PR it to this repo, let's make sure we get it in.

I have some notes though on how you've got things there. Did you test the plugin without providing the target parameter? because I fear you'd hit a few undefined issues with how that code is currently written in your fork. Open up the PR and let's make it happen ;-)

[2019-08-27 23:35] mullens opened #6 "Support hidden login links"
Since this plugin doesn't support pop-ups, and our login button uses a pop-up, we added a hidden login button that uses a redirect to make testing work. But since that button was hidden (positioned absolutely off the page), puppeteer's click function failed (since it wants to scroll
the hidden login link into view, and fails when it can't). I couldn't find an easy way to make users
not see the but

[2019-08-28 22:56] michaelwschultz commented on #4
@zrana any progress here? Also happy to open a PR with your code if you don't have time 😄

[2019-08-29 17:36] lirantal commented on #4
@michaelwschultz will be great if you could send a PR here if @zrana won't be responsive.

[2019-08-29 17:37] lirantal commented on #6
@mullens did you see discussion on https://github.com/lirantal/cypress-social-logins/issues/4 it is somewhat related.

How about clicking it by an id assigned to the button element. Would that work for puppeteer?

[2019-08-30 10:19] kashifch commented on #4
@lirantal

@zrana is on leave this week, he will be back by Monday and then respond

[2019-08-30 10:21] lirantal commented on #4
Sounds good, thanks for chiming in @kashifch 👍

[2019-09-11 17:01] michellelievsay opened #7 "Retrieve cookies from multiple domains"
Great plugin! This is a big factor in our choice to work with cypress.

Our app sets cookies in multiple domains as part of its auth process. Using this plugin we're able to get the required cookies for our own domain, but not the others we need.

We'd love to see an option to either get all cookies (for all domains) or to optionally provide a list of additional domains to get cookies from.

Is th

[2019-09-13 10:17] lirantal commented on #7
Thanks for the kind words @michellelievsay ❤️

The method to retrieve the cookies after logging in is by calling puppeteer's `page.cookies` (https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagecookiesurls) using the login URL. Since this method supports a list of URLs to get cookies for we could optionally pass that for the list of URLs of all domains you need the cookies for and

[2019-09-13 12:55] michellelievsay commented on #7
Yep that would work!

[2019-09-13 13:20] lirantal commented on #7
Cool. Would you like to submit a PR or prefer me to prepare something on a branch that you can try this on?

[2019-09-13 20:12] michellelievsay commented on #7
We'll submit a PR next week.

[2019-09-13 20:26] lirantal commented on #7
Wonderful!
If you need any help with git or GitHub workflow to create the PR or any assistance with the code change involved ping me and I'd be happy to help you push this out.

[2019-09-19 16:33] lirantal commented on #7
fixed by https://github.com/lirantal/cypress-social-logins/pull/8

[2019-09-19 16:33] #7 closed

[2019-09-27 08:04] silverhand20 commented on #4
Hi, I have a problem with Google Authentication.
That is, when I go to the page through the button (Login via Google). I am redirected to login from a Google account, but there are no account selection fields. Thanks for the help)
https://www.dropbox.com/s/img9fvo79dhhe8k/t4VVl8Zkly.mp4?dl=0

[2019-09-27 08:32] id-dan commented on #4
@silverhand20 Your case will not work because you tried to use multi-domains in the same test, so cypress can't do it - https://docs.cypress.io/guides/guides/web-security.html#One-Superdomain-per-Test

You should use this plugin - cypress-social-logins and it only will work in automation case (not manually as you tried) because puppeteer runs by **cy.task()** in separate headless window (not the s

[2019-09-27 13:53] silverhand20 commented on #4
Thanks for the reply, but I still don't understand why it can't register my task?
Photo: https://i.imgur.com/jcgTFYv.png

[2019-12-18 15:26] bvanderneut opened #13 "Click on social login button does not happen"
Hello everyone,

I have this object:

[code]

But what I see it that it opens de chromium browser. Navigates to https://www.independer.nl/mijnindepender/inloggen and then fill in on that page the username. We have the same naming as google does probably. So it does not click or trigger the social login button. Can it be because it's coverd by a cookie law block and it does not trigger it?

Thanks

[2019-12-18 16:48] lirantal commented on #13
hey @bvanderneut 👋

Interesting. So it might just not be able to hit the button because it's not visible due to the cookie banner? Yep, that's probably it.

[2019-12-18 18:27] lirantal commented on #13
@bvanderneut I think I have a fix for you with #14

[2019-12-18 18:29] #13 closed

[2019-12-19 06:20] bvanderneut commented on #13
@lirantal thanks. I updated my package.json to

[code]

Then I did:

[code]

Restarted Cypress but I am having the same issue. What file/line did you changed? This so I can check if the fix is really in my repro.

Thanks,
Bjorn

[2019-12-19 06:33] bvanderneut commented on #13
@lirantal sorry did not check the following link

https://github.com/lirantal/cypress-social-logins/pull/14/commits/ec9c5a07828e80c1573f9cfe8ab004f047798f39

I now have:

[code]

And it works!!! Thanks!!

[2019-12-19 07:44] bvanderneut opened #15 "Headless: true does not work"
Hello,

If I run it with:

[code]

Everything works fine. But if I run it with

[code]

I get this error message

[code]

No qlue what is going wrong in headless mode. Maybe you know
Bjorn

[2019-12-19 14:54] lirantal commented on #13
@bvanderneut yay, happy to hear 🤗

[2019-12-19 14:56] lirantal commented on #15
Hmm, not that I can think of off the top of my head.
I'll catch up on this next week but maybe someone else has an idea.. @raptatinha @michellelievsay

[2019-12-19 15:39] michellelievsay commented on #15
I think this is an issue where a different google login UI is displayed when running headless. I was able to to see this by navigating directly to this link in incognito: [https://accounts.google.com/ServiceLogin?nojavascript=1](https://accounts.google.com/ServiceLogin?nojavascript=1).

I won't be able to make a change for this for a while but updating the plugin to search for the next button and

[2019-12-19 15:47] lirantal commented on #15
oh interesting! thanks for looking into it @michellelievsay ❤️
I can probably push out a fix for this for the google social login fairly easily in the next couple of days. Also @bvanderneut if you wanted to do that with a PR that would be great

[2019-12-20 07:45] bvanderneut commented on #15
@lirantal I made a PR: https://github.com/lirantal/cypress-social-logins/pull/16

[2019-12-24 05:58] #15 closed

[2019-12-28 22:20] lirantal commented on #6
@mullens can you see if this PR that landed recently will help you with this? https://github.com/lirantal/cypress-social-logins/pull/14

Closing for now but I'm happy to re-open if needed.

[2019-12-28 22:20] #6 closed

[2019-12-28 22:25] lirantal commented on #4
@michaelwschultz @kashifch @zrana any of you would like to pursue work on this with a PR? seems like you have a working solution in your own branch that only needs to be merged here?

[2020-02-07 00:48] webcrew62 opened #17 "Error: module not found: "ws" from file ..... node_modules/puppeteer/lib/WebSocketTransport.js"
- **Library Version**:
![Screen Shot 2020-02-06 at 3 34 36 PM](https://user-images.githubusercontent.com/60762804/73991227-cf050480-4908-11ea-909d-a46f6e3b8315.png)

- **OS**: MacOS v 10.14.6
- **Node.js Version**: v10.15.0

What causes this error?

1. after installing the plugin, using the following:
   'yarn add cypress-social-logins'
2. and invoking the cypress test runner:
  'CYPRESS_BASE_URL=

[2020-02-07 11:01] lirantal commented on #17
@webcrew62
1. do you have puppeteer installed as its own dependency in your package.json?
2. does the 'cypress' run task you invoke relate to any bundling or does it straight-up fire off the cypress tool?

[2020-02-07 19:30] webcrew62 commented on #17
1. yes, it would appear that puppeteer is installed, as this is my package.json file:

[code]
2. This is the command line, as entered from a terminal (which launches the test runner).
     CYPRESS_BASE_URL="https://accounts.google.com" yarn cypress

3. Im also including a stack trace of the error:

Error: module not found: "ws" from file /Users/mwebster/bh-cypress-integration/node_modules/puppetee

[2020-02-07 20:01] lirantal commented on #17
Unfortunately I can't reproduce this in another sample project I have. I see you have both `ws` and `puppeteer` installed as direct dependencies but I'm not sure if that is a problem or not.

[2020-02-07 20:01] lirantal commented on #17
By the way, is this a public project that I can clone?

[2020-02-07 22:26] webcrew62 commented on #17
It's not at present a public repo. Let me work on that...

Perhaps my confusion is in using this plugin. Having not done this before, I've come across this https://docs.cypress.io/guides/tooling/plugins-guide.html#Use-Cases, but am unclear on it's usage, once its installed?

Can you clarify what (in the readme.md) goes in the cypress/plugins/index.js? how about the task itself, does it go in the *

[2020-02-07 23:11] lirantal commented on #17
Sure. so it should be something as follows:

`cypress/plugins/index.js` should look as:
[code]

`cypress.json` along the lines of:
[code]

And finally using it in a test is something along the lines of:
[code]

[2020-02-10 21:04] webcrew62 commented on #17
@lirantal
Thanks, as that seems to get me working (somewhat)!

1.) what is the purpose of the **postLoginSelector**?
2.) I'd understood this to allow cy.task as a workaround for use with multi-domains in the same test? Is there an example of this? Say once the GoogleSocialLogin is complete, another homePage url with another domain is used?

Thanks in advance!

[2020-02-11 17:10] webcrew62 commented on #4
@lirantal @id-dan @silverhand20
Can you please further clarify, perhaps with an example of multi-domain testing with cypress? For example, once authenticated to google, how can another domain be used in a cypress test?

[2020-02-12 03:06] webcrew62 commented on #17
@lirantal
I have dropped a public repo; https://github.com/webcrew62/google-domain-signup.

Uncommented are the steps necessary to get to the (google login page) element. Commented is the cy.task() for accomplishing google signin. Once signed in the other steps are to be completed.

Can you suggest what needs correction?

thanks in advance!

[2020-02-12 07:30] lirantal commented on #17
I'll try to set some time to review this

[2020-02-12 18:29] lirantal commented on #4
Cypress by design wouldn't work beyond the DOM so you can't control popups, iframes or other domains that are not the one you have Cypress running in. This plugin does it by launching puppeteer behind the scenes to do the login on the google domain.

[2020-02-12 18:40] lirantal commented on #17
@webcrew62 that website has some issues:
1. Misses a package.json, even though I can init one and add the basics.
2. The cypress/plugins/index.js is not there so there's no integration with the plugin and Cypress  (please see my comment above, it has a full example including this file that you don't have)
3. Your cypress.json config mentions a u.s.e.rrr and p.a.s.s.w.o.]r.d and this is now leaked

[2020-02-12 19:07] webcrew62 commented on #4
@lirantal once the login on google domain is complete, the PostLoginSelector fails, as all elements on that page are signed. Is there a work-around for this?

[2020-02-12 19:12] lirantal commented on #4
what does this mean: "as all elements on that page are signed" ?
once the login on google domain is complete, you are forwarded back to your own domain which should detect you as signed in, and then you can take the cookies and do with them whatever is needed in the Cypress testing part (such as logging you in).

[2020-02-12 19:25] webcrew62 commented on #17
@lirantal
yes, made up creds. But it was removed.
the public repo does have the index.js, you just need to place it in cypress/plugins

[2020-02-12 20:20] webcrew62 commented on #4
Please disregard the previous comment about signed elements.

What (url) in the cypress.json is to indicate the domain which detects being signed in to google?

[2020-02-14 23:08] lirantal commented on #17
@webcrew62 ok so having looked at it I see quite a few issues in that repo:

First of all, seems like your tests are trying to visit the google signin account, based on this:
[code]

The above isn't needed and that's part of this plugin's work.
You are supposed to set an environment config of `loginUrl` which is the login page where you have Google login. I assume based on your example it is `your

[2020-02-14 23:11] lirantal commented on #4
So it's not exactly the domain that detects you are signed in to google.
Here is a reference to a cypress.json definition:

[code]

In this example, the `loginUrl` specifies to the plugin which URL it should navigate to, and by providing the task a config object which includes the loginSelector key to tell it which DOM element to click on it, it will be able to click and then use the google provid

[2020-02-19 11:39] mirzamusic commented on #4
I made a PR which will resolve this, tested it locally and works fine
https://github.com/lirantal/cypress-social-logins/pull/22

[2020-02-19 20:49] lirantal commented on #4
@michaelwschultz  could you check out the new version with @mirzamusic's popup support and see if this works for you?

[2020-02-19 20:50] #4 closed

[2020-03-04 09:02] mirzamusic opened #24 "Support passing args to puppeteer.launch method"
**Is your feature request related to a problem? Please describe.**
When I try to run this on CI tools like HerokuCI or CircleCI, I'm getting following issue:

[0303/121657.962144:FATAL:zygote_host_impl_linux.cc(116)] No usable sandbox! Update your kernel or see https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md for more information on developing with the

[2020-03-04 09:55] mirzamusic commented on #24
PR: https://github.com/lirantal/cypress-social-logins/pull/25

[2020-03-04 20:44] lirantal commented on #24
@mirzamusic now that we've merged the code what do you think about adding some README that mentions this like in a FAQ or similar?

[2020-03-04 21:22] #24 closed

[2020-03-10 11:30] MehranShafqat opened #27 "Any update on Facebook login"
Is there any update on Facebook integration please ?

[2020-03-10 14:31] lirantal commented on #27
Would you like to submit a PR for it? we'd be happy to support you :)

[2020-03-15 21:56] brianjenkins94 commented on #17
I also ran into this issue.

The problem was I was requiring `GoogleSocialLogin` in my spec file in addition to requiring it in `cypress/plugins/index.js`.

Removing it from my spec file resolved the issue.

[2020-03-16 07:20] lirantal commented on #17
Ahh thanks for the hint @brianjenkins94 !
Would you like to create a PR that updates a README with this entry to a FAQ section?

[2020-04-02 10:26] vhbert commented on #15
Headless mode seems to be broken again.
[code]
Not sure if I should make a new issue for this.

[2020-04-02 23:49] cain commented on #27
@lirantal Id love to support Facebook integration, especially with the Facebook login/auth popup.

Im new to cypress and this plugin but would love to contribute this feature. Wondering if you could give me some guidance or help on where to start and what id need to do.

I see https://github.com/lirantal/cypress-social-logins/pull/22

[2020-04-03 12:55] lirantal commented on #27
Happy to have you contributing this ❤️
I think definitely a good starting point is getting a bit familiar with Cypress itself. Create a sample project, configure this plan for it to do a login based on the currently supported Google integration and it will help you understand how things work and debug your way around it.

The idea is basically just like any other Cypress test - you navigate to a p

[2020-04-05 23:33] cain commented on #27
@lirantal Thanks! I'll have a look around and may ask for some help or guidance if I get stuck :)

[2020-04-13 19:47] xucao-nvta opened #28 "Any reason you didn't use ES6 import syntax in plugins/index.js? I think that's a Cypress limitation but just want to confirm"
First of all great implementation for the Google SSO workaround @lirantal !!!
This is a more question than issue or feature request:
when you required this plugin inside plugins/index.js did you purposely not use the ES6 import syntax before of the Cypress' limitation?
[code]
now I tried to convert the `const {GoogleSocialLogin} = require('cypress-social-logins').plugins` to ES6 like this `import

[2020-04-14 11:29] alexpirogovqa opened #29 "Any posibility to get localStorage"
Hello. Are there any possibility to get localStorage after login ?

[2020-04-14 14:50] lirantal commented on #28
I actually don't remember if I even tried to use ES6 style here, most probably didn't even try since I'm coming from a Node.js and commonjs type of module system as a background.

Is there a reason you'd like to convert it to ES in particular?

[2020-04-14 15:28] xucao-nvta commented on #28
Thank you Liran for your reply!

No particular reason that I wanted to convert to ES6 but for consistency with the rest of the code.  It turns out this might be a Cypress bug cause it accepts ES6 syntax in other folder integration/, support/, etc.  JS world has moved on to ES6 so I think we need to move along with it. Besides I personally don't like to mix different syntax from different versions.

[2020-04-14 17:23] lirantal commented on #28
Totally agree on mixing up ESM and CJS - that's definitely not a recommended practice.

On headless mode - we did end up pushing a fix for it (you can see the linked PR in that issue) so if you're still experiencing issues on that let me know.

Otherwise closing the thread. Thanks for the kind words! ❤️

[2020-04-14 17:23] #28 closed

[2020-04-14 17:42] lirantal commented on #29
I think that should still be available for you from within Cypress if it's in the same DOM. Isn't it?

[2020-04-14 17:42] lirantal commented on #27
@cain hope all goes well in these times.
if you need any help let me know!

[2020-04-21 09:39] yusufJinadu opened #30 "Email is entered in application email button due to absez"
Please describe the problem you are trying to solve.
My page has an email input, with 'input[type="email"]'. Immediately the sign in button is clicked, the plugin does not wait till the browser redirects rather, it starts entering the the email on my page's email field

**Describe the solution you'd like**
Email is typed only when clicking on login selector has completely redirected
Please describ

[2020-04-21 09:54] yusufJinadu opened #31 "Plugin does not wait for redirection to google to be complete before entering email"
My page has an email input, with 'input[type="email"]'. Immediately the sign in button is clicked, the plugin does not wait till the browser redirects rather, it starts entering the the email on my page's email field

Email is typed only when clicking on login selector has completely redirected
Please describe the desired behavior.

An option to add a delay before entering the email, so that the p

[2020-04-23 15:42] lirantal commented on #30
I'm not sure what is the issue. Can you describe or show a video of what happens? Why do you need that delay? This plugin waits for cookies to be available and then uses them to apply to Cypress.

Anyway, we do have delay support added, check the README for `loginSelectorDelay`

[2020-04-23 15:44] #31 closed

[2020-04-23 15:45] lirantal commented on #31
looks like a dup

[2020-04-23 17:04] shivasrini opened #32 "Runnning the plugin on a linux machine gives me an error"
First up, big thanks for this awesome plugin. It definitely opens up a lot of options for me with Cypress. I am currently using bitbucket pipelines to run my tests and when I tried to run my test that uses the plugin with Bitbucket I am getting the error below. Any ideas on how to fix or workaround this would be much appreciated.

[768:768:0423/165641.025850:ERROR:zygote_host_impl_linux.cc(89)] Ru

[2020-04-23 19:00] shivasrini commented on #32
Turns out I wasnt passing in the --no-sanbox args to the plugin. Things started to happen afterwards

[2020-04-23 19:00] #32 closed

[2020-04-24 05:52] lirantal commented on #32
Ok great, I'll update a FAQ page with that

[2020-04-24 05:56] lirantal opened #33 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-27 12:01] jjainarpit opened #34 "TimeoutError: waiting for selector "input[type="password"]" failed: timeout 30000ms exceeded"

[2020-05-01 09:59] lirantal opened #35 "Remove outdated README about popups"
The following notice is no longer relevant since this is supported now https://github.com/lirantal/cypress-social-logins#login-via-popups-wont-work

cc @RiZKiT if you want to take this PR

[2020-05-04 07:23] jjainarpit commented on #34
I figured it out! Thanks.

[2020-05-04 07:23] #34 closed

[2020-05-04 19:05] iparamey commented on #4
Can anybody give a link to a real tests with sign in as google user?

[2020-05-04 19:56] lirantal commented on #4
Yes, check the CI here: https://github.com/lirantal/cypress-social-logins/pull/20
It fails because of a hard time to configure that on cloud but definitely should work locally if you replicate the same setup of the ./integrations/ folder

[2020-05-04 19:57] lirantal commented on #34
@jjainarpit thanks for chiming in!
any chance you want to share with us what was the issue? would be helpful for the next person who gets into trouble :-)

[2020-05-04 20:09] jjainarpit commented on #34
Sure why not! it has to do with plugin installation. So, the issue was occurring when I did install cypress first and then a social plugin. However, when I just did install just social plugin it worked. I am not sure what really happened but it got fixed.  Also, something with headless = true. When I did headless = false, everything worked like charm

[2020-05-04 20:52] jjainarpit opened #36 "getAllBrowserCookies returning undefined"

[2020-05-04 23:20] SonaliQA commented on #4
On cypress new pop up I cannot enter email on Gmail login screen

[2020-05-05 05:54] lirantal commented on #34
Not sure why that would be an issue. I mean, obviously you need cypress too...?
Thanks for sharing.

[2020-05-05 05:55] lirantal commented on #36
Is it possible there are no cookies set on the page?

[2020-05-05 05:57] lirantal commented on #4
Can you share a video of what's happening?

[2020-05-05 07:33] #35 closed

[2020-05-05 07:35] lirantal commented on #33
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-05 07:39] lirantal commented on #35
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-social-logins/v/1.3.1)
- [GitHub release](https://github.com/lirantal/cypress-social-logins/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-05 07:39] #33 closed

[2020-05-05 18:11] SonaliAvaya commented on #4
ya sure
please don't share to anyone other as this is confidential

*Video link
: https://drive.google.com/file/d/16RFh7W0WKT9omrrCTLlR1dwh5NV6U52n/view
<https://drive.google.com/file/d/16RFh7W0WKT9omrrCTLlR1dwh5NV6U52n/view>*

*Help me out what the other solutions? *
As my que is :
<https://stackoverflow.com/posts/61600656/timeline>

I have to perform below steps in cypress test I have user Page-

[2020-05-06 02:33] 24601 commented on #29
@lirantal I think @alexpirogovqa is trying to get the localStorage of the puppeteer window as some auth schemes set data in there (scary if it’s sensitive data, yeah, and NOT a secure or best practice, IMO) or sessionStorage (better, I guess, but still not secure or a best practice - although we do sometimes store things like user ids, state data, etc in sessionStorage some times during the auth p

[2020-05-06 12:05] Srinivasa1994 commented on #4
Can you help me in being precise on what should we pass on login selector
![image](https://user-images.githubusercontent.com/56039595/81174610-c4b5dd80-8fbf-11ea-9db0-ab46c9a184f6.png)

![image](https://user-images.githubusercontent.com/56039595/81174709-f038c800-8fbf-11ea-970e-0a6fee3008a0.png)

[2020-05-07 12:41] lirantal commented on #4
@SonaliAvaya
1. looks like you're missing on providing the loginSelector
2. your overall process/config doesn't seem right. you shouldn't be browsing directly to google login but rather to your own site that requires it, then put the login selector url in that loginSelector  field

[2020-05-07 21:53] SonaliQA commented on #4
[image: image.png]
[image: image.png]

index.js under plugins folder
[image: image.png]

cypress.json
[image: image.png]

Video link of executed test.js :
https://drive.google.com/file/d/14HxjrGdgq84CN91x1COia-qnJBDSxiVv/view
Its executing 3 times I don't know why? and could not select  first email
in inbox

I actually don't know what I should add now but I need multiple browser
support in cypress

[2020-05-07 21:55] SonaliQA commented on #4
and i dont know what i should pass on "loginselector" bcz I didctly want to
visit "gmail login " from goggle

On Thu, May 7, 2020 at 5:53 PM Sonaliben Patel <shpatel@esna.com> wrote:

[2020-05-12 23:50] iparamey commented on #4
Please, can you check my issue from this video - https://cl.ly/f078a42ea763
Maybe you can give some advice

[2020-05-14 20:17] pylnatahp commented on #4
I have the similar issue > TimeoutError: waiting for selector "input[type="email"]" failed: timeout 30000ms exceeded
Popup opens but then nothing happens.

[2020-05-18 06:20] lirantal commented on #4
I do hope you realize that your video, and credentials are publicly share here with everyone able to see it? I've already redacted your previous comments to avoid leaking of information so please don't repeat this unless you realize what you are sharing.

I saw that the video is in another locale than English so maybe the fields are different. Can you hover over the email input field with DevTools

[2020-05-18 12:47] iparamey commented on #4
It's not a problem because in my video you can see only test's credentials for the local environment.
As for email input, I will attach a screenshot
![Screenshot 2020-05-18 at 15 46 12](https://user-images.githubusercontent.com/17482045/82214638-d3d14f80-991e-11ea-9670-9b8ef7a4bcb5.png)

[2020-05-21 10:03] lirantal commented on #4
That selector seems fine then with the code: https://github.com/lirantal/cypress-social-logins/blob/master/src/Plugins.js#L108

Could you add a popup delay? I think that's the issue.
You should add it in the socialLoginOptions variable you have. Give it a bit of time until it loads and try it.

[2020-05-21 16:57] bmsoko commented on #4
Hello all! can anyone please share a hack/workaround to test other social networks? I need to click on other social networks, authenticate and authorize ! is there any way to do this via API or anything?

[2020-05-25 12:20] iparamey commented on #4
I'm sorry. But I don't understand how to add a popup delay :(

[2020-05-25 15:50] iparamey commented on #4
Thanks a lot. It works now.

[2020-05-30 18:03] haisumabbas commented on #4
Hi,
I'm stuck at the same problem. It opens up the social login popup but doesn't type in the username.

![image](https://user-images.githubusercontent.com/18647257/83335918-739cbf00-a2c9-11ea-87f9-375245f68728.png)

![image](https://user-images.githubusercontent.com/18647257/83335941-a34bc700-a2c9-11ea-8dca-7d9ac7c5e855.png)

and for the other value of the headless flag, it returns an error for t

[2020-05-30 19:58] lirantal commented on #4
Can you try adding a meaningful delay for the popup? it's one of the options you can pass to the plugin

[2020-05-30 22:31] haisumabbas commented on #4
I tried different values for popupDelay but unfortunately, it's still the same.

[2020-06-08 17:41] eledwinn commented on #4
This continues to happen.

I am sure the username and password are configured correctly.

my package.json file
[code]

MacOS Mojave 10.14.6 (18G4032)
Node: v10.16.0
Npm: 6.14.4

[2020-06-09 19:28] eledwinn opened #41 "TimeoutError: waiting for selector "#signIn" failed: timeout 30000ms exceeded"
I am getting this error only when I use `headless: true` in the config. I downloaded this repo and debugged the problem locally, and what happens is that the Login button has a different id.

I took a screenshot and wrote the HTML of the login page when the exception occurred.

![screenshot](https://user-images.githubusercontent.com/2124740/84189980-c3168400-aa5b-11ea-87d8-443e2fa94926.png)

Part

[2020-06-10 05:22] lirantal commented on #41
Thanks @eledwinn for the bug report.
Do you want to send a PR that fixes it? it could check if a buttonSelector of "#signIn" exists, and if not, try the "#submit" selector.

[2020-06-10 15:41] eledwinn commented on #41
Yes, I will be sending a PR this week!

[2020-06-10 16:02] lirantal commented on #41
That would be awesome 😍

[2020-06-12 18:12] #41 closed

[2020-06-16 02:11] mumairofficial commented on #4
By adding `popupDelay` and `headless : false` configurations, I can see the popup and automated typing an email address. But there is another issue.

**Video link:**
https://www.loom.com/share/0b13b447f9c54a4e81beeee856e45544

**Screenshot:**
![image](https://user-images.githubusercontent.com/6498132/84723929-470ec580-afa0-11ea-91c6-576fc80e6850.png)

I have tried toggling `chromeWebSecurity` flag

[2020-06-17 01:45] mumairofficial opened #43 ""Couldn't sign you in" This browser or app may not be secured, Google login fails"
Hello,

I am trying to perform Google Auth operation and using the same example code provided in README file.

Initially with option `headless: true` it took long and returns following error:

![image](https://user-images.githubusercontent.com/6498132/84844900-e39a9b80-b064-11ea-91de-047e02cb9498.png)

Then I tried to debug the situation and toggled `headless: false` then situation was different.

[2020-06-17 18:13] TomaszWaszczyk opened #44 "Property 'cookies' does not exist on type 'undefined'."
I am using TypeScript, installed the plugin, configured `GoogleSocialLogin` plugin and got:

![image](https://user-images.githubusercontent.com/1605705/84933865-cef6eb80-b0d6-11ea-869b-6ba07ffcdbdb.png)

Any idea what I should do?

[2020-06-17 19:02] TomaszWaszczyk commented on #43
[code]

Do you provide real Google credentials? And what is the `LOGIN_URL` and `COOKIE_NAME` for you?

[2020-06-17 21:33] TomaszWaszczyk commented on #4
[code]

Under those variables do you have real credentials to Gmail? `loginUrl` could be localhost? What should be value of `cookieName`?

[2020-06-18 07:48] mumairofficial commented on #43
Yes I provided real Google credentials and here is my `cypress.env.json`
[code]
Is that a problem?

[2020-06-18 08:08] TomaszWaszczyk commented on #43
Have you had maybe such kind of issue: https://stackoverflow.com/questions/62437026/property-cookies-does-not-exist-on-type-undefined ?

[2020-06-18 10:25] mumairofficial commented on #43
Probably true, plugin documentation didn't explain much on that.

[2020-06-18 18:04] lirantal commented on #44
Assuming this isn't a specific TS issue like a type definition missing - is it possible that no cookies are available after you login? How about you run it in non headless mode so you can see puppetteer and the whole login process to validate if the login is indeed successful and try to check if cookies are at all available?

[2020-06-18 18:34] lirantal commented on #43
Hey @mumairofficial,

That issue seems to be more related to Google and their security constraints than to the plugin itself. That's a message coming in from Google's own platform once you try to login.

Apparently, other people have reported something similar with selenium and probably other tools too? See here: https://stackoverflow.com/questions/59380356/how-to-handle-browser-or-app-may-not-be-

[2020-06-29 07:11] chan-dev commented on #43
@lirantal so there's no way to test login with gmail with cypress as of the moment?

[2020-06-29 07:13] lirantal commented on #43
@chan-dev sure there is and last I checked in my E2E tests it works fine. The issue described above is something related to gmail and the account the user tried to sign-up with, not to Cypress or to this plugin.

[2020-06-29 10:08] chan-dev commented on #43
@lirantal if you don't mind, can you show a snippet of yours for gmail login? i've been struggling to make mine work. I haven't tried this cypress plugin yet but i've seen this issue so i'm having thoughts.

[2020-06-29 10:10] lirantal commented on #43
Yes, see the code here that adds an example E2E test: https://github.com/lirantal/cypress-social-logins/pull/20
It currently fails but due to a CI configuration rather than an actual problem with the plugin.

[2020-06-29 16:03] chan-dev commented on #43
Thanks, i've looked at the code. I've got a couple of questions.
1. First, do i have to set the userAgent in cypress json for it to work
2. Is there a difference between String.fromCharCode and the constant string 'Enter' on keyboard press?

[2020-06-30 08:15] lirantal commented on #43
1. IIRC that was something default I took from the Cypress setup. It shouldn't matter unless Google social auth is doing something around it, but not to my knowledge or experience.
2. I don't know, worth checking with the pupetteer docs too I assume.

[2020-06-30 08:22] #29 closed

[2020-06-30 09:40] lirantal commented on #29
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-social-logins/v/1.4.0)
- [GitHub release](https://github.com/lirantal/cypress-social-logins/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-01 19:59] wadehammes commented on #36
Im also having this issue but I have made sure that there is a cookie in localStorage that matches the cookie needed for `cookieName`.

[2020-07-02 12:22] lirantal commented on #36
@wadehammes cookies are returned from... a cookie, not localStorage :-)
however, this last PR #38 had indeed introduced an ability to capture that from the localStorage and from sessionStorage. You'd need to explicitly set that as the cookie for Cypress.

[2020-07-02 12:22] #36 closed

[2020-07-02 21:05] lirantal commented on #44
@TomaszWaszczyk anything new on this one?

[2020-07-02 21:06] lirantal commented on #43
Closing this one as I don't see this being a bug in the plugin or in Cypress.
Happy to re-open if anybody wants to contribute more information here.

[2020-07-02 21:06] #43 closed

[2020-07-02 21:06] lirantal opened #46 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-02 21:07] lirantal commented on #27
@cain if you wanted to catch up on it, I'd still be happy to merge other social login updates like Facebook.
Hope you're all safe and healthy ❤️

[2020-07-02 21:09] #46 closed

[2020-07-07 14:29] tomdohnal opened #47 "Captcha when running on CI"
Hi there,

your library works just fine on my own machine.

However, when running on the CI, Google asks "me" to enter the captcha code after "I" enter the email.

I know that your library is not possible to control that or bypass it but I wonder if you've encountered that yourself and how did you go about it. (If, e. g., it's somehow possible to disable in somewhere in the Google Developer Consol

[2020-07-07 20:48] lirantal commented on #47
Hey there Tom, I noted the same here trying to get the e2e tests passing on CI but facing the same problem: https://github.com/lirantal/cypress-social-logins/pull/20#issuecomment-653673273

I do wonder if we'll have the same issue with other social based logins, but with Google employing their detection of different UA, different IP locations and other stats that introduce a "verify me" and captch

[2020-07-09 14:55] wadehammes commented on #47
Ive ran into this once, when I moved into a new apartment last weekend. It asked me to verify my phone number after the password submission step (which is one we could potentially fix I believe with some conditional checks).

[2020-07-09 17:22] lirantal commented on #47
How would you fix it?

[2020-07-09 18:17] wadehammes commented on #47
Im not sure, it relies on a phone number and then the code that gets SMS'd, not sure it's possible.

[2020-07-10 11:38] tomdohnal commented on #47
I'm not sure either. The ideal solution would be if Google allowed some sort of "testing accounts" for that purpose.

I don't think it's really feasible to bypass their security measures in a reliable way. And if Google notices suspicious activity (e. g. logging in X times every day) it may ban the account. Regular Google accounts aren't meant for automatic testing I'm afraid so I don't think ther

[2020-07-10 13:02] lirantal commented on #47
How about if we attempt the use of backup codes to login to the account?

[2020-07-13 13:50] tomdohnal commented on #47
I believe that the backup codes are just for one-time usage each. And I don't think there's a programmatic way to generate them.

[2020-07-14 07:24] lirantal commented on #47
Yes but I'm thinking that once you use one of them, then Google will allow that UserAgent/IP source and so you'd probably have to just do it once or twice and not use them for each test.

[2020-07-15 08:12] tomdohnal commented on #47
It sounds like a feasible workaround as long as Google asks you to fill out an SMS code they sent you. This wasn't my case though. It asked "me" to fill out the captcha code when running on the CI.

![screenshot4](https://user-images.githubusercontent.com/22922179/87520519-5a867c80-c683-11ea-83c1-6b44af9f6b70.png)

[2020-07-15 08:20] lirantal commented on #47
In that case it would be hard, I agree. I wouldn't even try to bypass captcha like that.

[2020-07-16 15:21] tomdohnal commented on #47
Yes :(
Well, I don't think that there's a general solution for this issue :( I think it can be closed...

But thanks a lot for discussing it with me!

[2020-07-16 21:19] #47 closed

[2020-07-29 14:52] iledzka commented on #4
Log in to your gmail and turn on **Allow less secure apps** in Settings

loginUrl can be localhost, it's the url to your login page. I may be wrong, but I don't think that the cookieName matters that much. I managed to log it using arbitrary value in the cookieName.

[2020-07-29 15:09] TomaszWaszczyk commented on #4
I solved it by implementation similar to: https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/stubbing-spying__google-analytics

[2020-07-30 04:03] mumairofficial commented on #4
Thank you @iledzka for the tip 👍In my opinion, there is a possibility that google might introduce new anti-bot configurations in future and that might break CICD pipeline for no reason.

Testing around 3rd party is anti pattern and I manage to bypass google auth with stubbing and spying techniques.

[2020-08-13 11:39] symon-skelly opened #50 "Attach to popup generated by application rather than spawning new window"
My application under test displays a popup with the Google sign-in dialog upon clicking a button inside a nested iframe, It would be great if we could use this plugin on the popup that is actually populated by the application, or have support for the loginSelector var to accommodate buttons inside iframes.

[2020-08-18 15:50] patcon commented on #27
@lirantal might you be able to expand the google login with a bare minimal [nonfunctional] "dummy" provider? It's not clear where to hook in to extend from one to multiple...! I assume it's turning single values into objects somewhere, but clarity on that feels like it would open up others to chipping in more easily :) Thanks for considering

EDIT: my guess is just turning this

https://github.com

[2020-08-23 13:42] lirantal commented on #50
Seems like you'd need to accommodate for the loginSelector to be clickable within the iframe? also that would be something that won't happen from Cypress as it doesn't have access to the iframe, but rather you'd need to do this with puppeteer

[2020-08-24 17:06] lirantal commented on #27
@patcon indeed. Just create another function handler for the new provider and export it too.

[2020-08-31 20:18] vikmaksimenko opened #52 "Add GitHub and Microsoft login"
Need to have an ability to login with GitHub and Microsoft

[2020-09-03 08:55] mpoehler commented on #30
I have just seen the problem for myself. In typeUsername() the username is written into the email field of the application, if on the page with the login buttons there is also an input from type email.

Video: https://drive.google.com/file/d/16uyiXG-WpPTO4VlqwjU8j5WgXSxxkVrv/view?usp=sharing

I think I already have a solution for this... probably it is enough to make the selector a bit more precis

[2020-09-04 12:36] lirantal commented on #27
FYI @vikmaksimenko added support for login via GitHub and Microsoft: https://github.com/lirantal/cypress-social-logins/pull/53

[2020-09-04 12:36] lirantal commented on #52
Thank you so much @vikmaksimenko ❤️

[2020-09-04 12:36] #52 closed

[2020-09-04 12:39] lirantal commented on #30
Ahh the video makes a lot of sense, thanks for that! :-)
Let's discuss further on the PR

[2020-09-05 11:36] #30 closed

[2020-09-05 11:39] lirantal commented on #30
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-social-logins/v/1.5.1)
- [GitHub release](https://github.com/lirantal/cypress-social-logins/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-10 06:56] lirantal commented on #50
Closing due to stale issue.

[2020-09-10 06:56] #50 closed

[2020-09-10 06:56] lirantal commented on #44
Closing due to stale issue.

[2020-09-10 06:56] #44 closed

[2020-09-11 18:31] #17 closed

[2020-09-11 18:34] lirantal commented on #17
:tada: This issue has been resolved in version 1.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-social-logins/v/1.5.2)
- [GitHub release](https://github.com/lirantal/cypress-social-logins/releases/tag/v1.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-14 10:47] VilfredSikker commented on #17
Hi, I still have this error

[code]

My package.json includes `"cypress-social-logins": "^1.5.2"`

My index.js includes:
[code]

I added a login command:
[code]

and in my spec file:
[code]

[2020-09-15 20:25] lirantal commented on #17
@VilfredSikker have you seen the troubleshooting note? does it work for you? see below

--

## Error: module not found: "ws" from file

If you're getting an error message such as:

[code]

It may be due to the fact that you're requiring one of the exported plugin functions, such as `GoogleSocialLogin` in your spec file in addition to requiring it in `cypress/plugins/index.js`. Remove it from your

[2020-10-07 09:12] surykumar commented on #34
Hi, I am trying to test the google sign in & using this package. There are couples of issues am facing.
- Whenever I run the test, I am not seeing it running in any window, as in the attached screenshot you can see that the loginSelector is clicked & it's showing error in finding email input, which means the loginSelector is available. why am I not seeing it in the cypress default runner page? als

[2020-10-07 09:46] suryakant-kumar opened #57 "waiting for selector "input#identifierId[type="email"]" failed: timeout 30000ms exceeded"
Hi, I am trying to test the google sign in & using this package. The issue I am facing is.
- Whenever I run the test, I am not seeing it running in any window, as in the attached screenshot you can see that the loginSelector is clicked & it's showing error in finding email input, which means the loginSelector is available. why am I not seeing it in the cypress default runner page? & having the iss

[2020-10-07 15:47] lirantal commented on #57
The fact that you don't see anything on Cypress, or a new browser, is because the work for doing the actual login is done using pupetteer. I suggest going through the examples on the README and a branch we have as a reference.

[2020-10-07 17:36] ashishnarmen commented on #57
I have run into the same issue.  I added the options `isPopup: true`, `popupDelay: 5000` and `logs: true`.

[code]

I attempted to setup Fiddler to view the requests and the responses but I wasn't able to analyze and make sense of the HTTP requests.
[code]
My local configuration is
Node: v12.18.4
Mac OS Catalina 10.15.7
In package.json, the dependencies are

  "devDependencies": {
    "cypress": "

[2020-10-07 19:19] surykumar commented on #57
Also, what I have noticed is, after clicking the login button, it's searching for the email input field. But it's possible to have another account selector login screen (attached 2nd screen) & if that's the case it's unable to find the email input & throwing the error. I am not sure but it might be the reason for this error.

![Screenshot from 2020-10-08 00-43-21](https://user-images.githubusercon

[2020-10-08 08:27] InvisibleExo opened #58 "Create an Export function for Custom Logins"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.
I've been looking plugins or methods for login such as Request and Visit to provide login credentials to a website, (Steam.com in this case,) which I use to explore ways how to test or improve setup, instead of going to front end approach by finding and run send keys. Sadly, atte

[2020-10-08 11:28] lirantal commented on #58
Yes that sounds good. We've already got a few exported functions and a way to configure the selectors etc. Is there something else you'd want to see added? by the way there are a few social logins already available.

[2020-10-10 21:16] InvisibleExo commented on #58
Yes, I checked your login functions from the Plugins class, but the website I'm using to run my tests doesn't use any of social websites, (that includes logins which are pending/currently being worked on).  For Option properties, I don't know any additional properties will be required for the custom login approach. It looks like the CustomLogin function() may need additional options to be added to

[2020-10-10 21:31] InvisibleExo commented on #58
Would you be willing for me to create a new branch, pull down and add this CustomLogin function for what I have initially in mind into Plugns file?

[2020-10-12 18:51] lirantal commented on #58
Sure, happy to do so if it helps.
Can you also please add proper documentation to the README with regards to how to use this and the user-case for it unlike the existing functions?

[2020-10-12 19:22] #58 closed

[2020-10-12 19:26] lirantal commented on #58
:tada: This issue has been resolved in version 1.5.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-social-logins/v/1.5.3)
- [GitHub release](https://github.com/lirantal/cypress-social-logins/releases/tag/v1.5.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-16 13:58] StefanVilimonovic commented on #17
Hello @lirantal I have an issue https://share.getcloudapp.com/p9uwAl7X **cy.task('GoogleSocialLogin') failed with the following error: > baseLoginConnect is not defined**

My question is how that error can appear, because i didnt import custom login to the plugins but Google Social Login.

Here's my test

[code]

[2020-10-16 13:59] StefanVilimonovic commented on #17
and my plugin/index.js

[code]

Pls i need help, thanks!

[2020-10-16 20:30] lirantal commented on #17
Have you read the thread on this and the README? I think we documented this problem and someone raised before that it happened because they require the plugins from a place that it shouldn't be required.

[2020-10-29 06:30] ihasaKAROT-nl commented on #17
I still have this exact problem, even with a blank clean setup of cypress.

Cypress version 5.5.0 (latest)

All I did:
1. npm install cypress
2. npm install --save-dev cypress-social-logins

3. place `const {GoogleSocialLogin} = require('cypress-social-logins').plugins

module.exports = (on, config) => {
  on('task', {
    GoogleSocialLogin: GoogleSocialLogin
  })
}`

in support/index.js

4. npx c

[2020-10-29 14:05] lirantal commented on #17
@ihasaKAROT-nl follow this cypress project setup as a guideline to how to set it up: https://github.com/lirantal/cypress-social-logins/tree/tests/add-cypress-e2e-second-go/cypress

basically, you need to make use of the package in the `plugins/` folder, like this: https://github.com/lirantal/cypress-social-logins/blob/tests/add-cypress-e2e-second-go/cypress/plugins/index.js, where you declare it a

[2020-10-29 14:22] ihasaKAROT-nl commented on #17
@lirantal  problem in chair , not in computer.

I have been spending all week in the /support/index.js and I blindly added it there over the /plugins/index.js

Apologies for my stupidity on this one. I need more coffee

[2020-10-30 16:09] lirantal commented on #17
No worries. This is what we have on the Troubleshooting section already so I hope it will be helpful for others in the future:
![image](https://user-images.githubusercontent.com/316371/97729111-03de6a80-1adb-11eb-8199-751797c54df5.png)

[2020-11-12 07:40] InvisibleExo opened #63 "Timeout Error Occurring during loginSelector Step in the Login Function"
I would say this is more of issue on Puppeteer's Side, but wanted to reach out here first before further investigation and seeking help elsewhere.
  I getting stuck at login function during the step for page.waitForSelector(options.loginSelector). It keeps getting a timeout error; even after I extended the Timeout by 3 times the default, or use a different selector for that function. Chromium does

[2020-11-12 23:31] ghost commented on #63
Hey, I'm not associated with the library or anything, but I have been trying to implement it myself and have run into a similar problem. It looks like you are using Headless: false, and isPopup:true, so you might want to add a popupDelay to your socialLoginOptions. This helped the puppeteer instance find the fields in the popup for me when I had that issue. I discovered the solution reading throug

[2020-11-16 08:31] InvisibleExo commented on #63
popupDelay was helpful for waiting for selectors. Figured out the problem was caused by my selector. If I remove the href attribute as part of the selector, chromium had no problem picking the selector. It looks like I'll have to do more research with what are valid selector formats when working with puppeteer.

[2020-11-16 08:40] #63 closed

[2020-11-17 07:05] InvisibleExo commented on #63
Probably should mention this in case other users have trouble with selectors and Puppeteer. Puppeteer uses `document.querySelectors`  , so if you try to use selectors used in jQuery, you might face timeout errors because Puppeteer can't find that selector.
You can use check these links to get examples of valid selectors:
[document.querySelector()](https://developer.mozilla.org/en-US/docs/Web/API/D

[2020-11-18 07:11] lirantal commented on #63
@InvisibleExo the README has a section about troubleshooting. do you want to add a Q & A about this with a pull request? I'll gladly merge and appreciate your effort to document this for other readers 🙏

[2020-11-18 07:24] InvisibleExo commented on #63
@lirantal Sure, I'll include this info in the README file. I'll include it when I push it along with my additions for Plugin.js so they can be reviewed. I want to run more e2e scenarios to make sure I don't introduce any issues.

[2020-11-18 07:35] lirantal commented on #63
Thanks! 🙏

[2020-11-19 15:55] SaveYourTime commented on #57
<img width="1473" alt="截圖 2020-11-19 下午11 43 49" src="https://user-images.githubusercontent.com/35715664/99689829-687d5b80-2ac2-11eb-887b-f983e517e448.png">

cy.task('GoogleSocialLogin') failed with the following error:

For anyone who is facing the same issue and your google auth displayed like a popup, try the `socialLoginOptions` below.
The key point is to set `popupDelay` for more than 3000 mi

[2020-11-19 23:39] lirantal commented on #57
@SaveYourTime thanks for taking the effort document this for other readers.
Would you be able to open a pull request to the README and add this note on the troubleshooting section in the bottom? 🙏

[2020-11-20 06:13] InvisibleExo opened #66 "Options Object new Function Property isn't getting Invoked When Called Upon in baseLoginConnect Function"
I'm having trouble trying to invoke a function I created  as a property for the `options` Object. I'm trying to add  and test a check for an additional check whether user has added a property called: `additionalSteps` in the `options` Object. The purpose for `additionalSteps` property is for the User to define an async functions , which passes in the `page` and `options` objects as parameters, the

[2020-11-24 01:48] mdn021 commented on #57
I'm having this issue as well. I was able to get a screenshot of the page and it looks like I'm getting a more outdated google log in page. Any ideas why this would be?
![google-sign-in](https://user-images.githubusercontent.com/16750455/100035954-15522400-2db4-11eb-89b9-3f179bfa9570.png)

[2020-11-24 10:25] lirantal commented on #57
Can you check the selectors on that login page to see if they match what the library is trying to find?

[2020-11-24 17:14] mdn021 commented on #57
It doesn't. This is html for the email field.

`<input id="Email" type="email" value="" spellcheck="false" name="Email" placeholder="Email or phone" autofocus="">`

[2020-11-30 17:51] InvisibleExo commented on #66
Solved. The problem was that I defined my `options.additionalSteps` inside my test spec file. If I added and defined the addtionalSteps function in the index file for Cypress plugins, options.additionSteps was invoked and operated as expected(depending on how the function was defined.

This will allow the function work as expected. I would add a condition to check whether or not I want to include

[2020-12-01 07:58] #66 closed

[2020-12-01 14:23] takka opened #68 "Google Oauth timeout error"
Hello there!
I already saw some similar issues, but mine is a bit different.

So my react app uses Google JS Client library to handle the OAuth 2.0 flow. And I don't use any custom cookies etc, google handles things for me (so to be honest I don't know where and which data window needs to have to be in a logged-in state).
I want to test the application, but basically, I need to login first to acce

[2020-12-01 21:44] #27 closed

[2020-12-01 21:47] lirantal commented on #68
Is it failing for you in CI, or in a local dev environment when running it in headless mode?
The reason it probably fails is because google is unable to authenticate the source is legitimate and spawns up phone number, 2fa, or captcha validation. Just a guess, but this is what I've seen happening before.

[2020-12-01 22:39] lirantal commented on #66
Thanks for sharing @InvisibleExo ❤️
Any chance you want to update the README.md file with a pull request to include that example? I'm sure it'll be helpful for others.

[2020-12-02 08:37] InvisibleExo commented on #66
@lirantal sure. I have the additions to Plugins.js I worked and tested on, as well added information for ReadMe.md all ready to be committed, but I'm getting denied when pushing my branch with changes.

[2020-12-02 08:50] lirantal commented on #66
@InvisibleExo Did you create a fork of this repo? if you do and you push your branch there then you can open a pull request to this one.

[2020-12-02 09:02] InvisibleExo commented on #66
@lirantal I forked my own branch, and was able to push it with the changes.  Thanks, used to using git only my own projects.

[2020-12-02 09:07] takka commented on #68
yea, in local dev environment,
So in dev environment, I should always run it not in headless mode then

[2020-12-03 22:17] lirantal commented on #68
It also depends where you run it from. If you run it, even non-headless in a CI that spawns up tests in different locations (which they do) from what your social account was created then this will cause social logins to detect is as potential hack/fraud attempt

[2020-12-05 11:22] lirantal commented on #57
@mdn021 we just added a capability for a custom login if you need to adjust the selectors and such. Check the updated README for these options and an example walk through. Goodluck!

[2020-12-08 14:21] HajekOndrej opened #71 "Google will discontinue support for sign-ins to Google accounts from embedded browser frameworks"
Hi, thanks for this great plugin. I would just like to make sure, that the plugin is not affected by discontinuing the support for sign-ins from embedded browser frameworks, that is planned for the new year by google.

Thanks.

O.

[2020-12-11 20:43] lirantal commented on #71
Interesting. Can you provide a link?
Do you know how they detect and know this to prevent?

[2020-12-11 21:07] HajekOndrej commented on #71
Absolutely, here comes: [blog post](https://developers.googleblog.com/2020/08/guidance-for-our-effort-to-block-less-secure-browser-and-apps.html)

They provide a way to check if you are affected.

[2020-12-14 10:42] PaulinePoirot opened #72 "endless loading (gmail)"
Hello !

Thank to your plugins, I managed to connect to my gmail account. But for an unknow reason, my test "stop" (timeout of cypress) because the loading of gmail never finish.

I don't know if you had a similar issue or some things that would approach it.

I can write my email adress, then my password without problem, but when i log in :

![image](https://user-images.githubusercontent.com/22679

[2020-12-23 09:59] abhiskkk-mp commented on #44
Were we able to login to the app using the social plugin?
If yes, can somebody provide with a working copy of it here

[2020-12-29 08:43] chan-dev commented on #71
Any updates if this will be affected, I'm planning on using this login with Google oauth2

[2021-01-01 17:03] lirantal commented on #71
I've no idea.

[2021-01-05 15:28] quy-tran-xeniatech opened #74 "Missing cookie name in returned data"
With my app, after the user signs in with Google, there are 3 cookies set: id, G_AUTHUSER_H, G_ENABLED_IDPS. But cookie name (id) is missing in return data. I tried to increase the param:  cookieDelay: 50000 but the issue still happens. Please help me check.

Thanks

[2021-01-05 15:47] quy-tran-xeniatech commented on #74
#[](url)

[2021-01-06 02:43] quy-tran-xeniatech commented on #74
I found out the root cause: if the cookie with httpOnly: true, it will be missed in returned data.  Please help if you have any work around to overcome this issue. Thanks

[2021-01-06 19:46] Rykuno commented on #68
I'm also encountering this exact same issue following the documentation from the readme with Google :/.

[2021-01-07 07:03] abhick09 commented on #57
Maybe adding a popupDelay: 3000, fixed it for me when i had the same problem in social login options.

[2021-01-07 22:56] lirantal commented on #74
@quy-tran-xeniatech is it possible that it is for a different domain? if so, you may need to specify it / use this config option: `getAllBrowserCookies`

Related: https://github.com/puppeteer/puppeteer/issues/3728

[2021-01-07 22:56] #74 closed

[2021-01-09 10:49] #57 closed

[2021-01-11 15:16] shakira-ahmed commented on #71
<img width="776" alt="Screen Shot 2021-01-11 at 10 12 33 AM" src="https://user-images.githubusercontent.com/33100871/104199504-88ac0580-53f5-11eb-8fe8-bfbc236b9ae1.png">
Came across this screen when trying to run the plugin, is it related to the issue described?

[2021-01-13 15:52] cbwheadon opened #76 "next-auth.js Target closed"
Hi, I'm following the example given here: https://next-auth.js.org/tutorials/testing-with-cypress but I'm failing at this point:
`.task('GoogleSocialLogin', socialLoginOptions)`

<img width="868" alt="Screenshot 2021-01-13 at 15 46 31" src="https://user-images.githubusercontent.com/537793/104475027-880e9d00-55b6-11eb-9d5e-2b6b09b8fbff.png">

These are the options I have set:

<img width="432" alt=

[2021-01-15 09:09] piotrekcz opened #77 "Wrong id for loginButton on Facebook login page"
Currently on facebook.com doesn't exist id #loginbutton. There is 'u_0_b'. Please fix it because it is blocking me.
![Zrzut ekranu 2021-01-25 o 14 30 26](https://user-images.githubusercontent.com/42461175/105712501-289b8000-5f1a-11eb-96cd-ce05c3de1ad0.png)

[2021-01-16 13:02] phlprcks opened #78 "Google Social Login yields 400: invalid_request (missing: response_type)"
I followed the example for Google social log in at https://github.com/lirantal/cypress-social-logins

Cypress manages to open the Google Login in a new Window.  However, a
[code]
appears, suggesting that the response type (e.g. "token") is missing in the request. That is a required parameter for the OAuth process. From this plugin's documentation it must not be given as a parameter to the task.

T

[2021-01-16 18:19] Mohammad-Quanit opened #79 "Github Social Login example"
Hi there, I am trying to implement Github social login but not sure what will be the loginSelector should I put in it. Also, there is not a single example I find on the internet regarding Github login tests. Please if anyone implements this in their tests, please let me know.

Thanks

[2021-01-22 09:35] lucy1017-liu commented on #71
Any update about the issue?

[2021-01-28 06:45] ccc43542876 opened #80 "can anybody offer a google login demo ?"

[2021-01-28 08:09] piotrczarnak commented on #77
Ok i checked wrong website.

[2021-01-28 08:09] #77 closed

[2021-01-28 10:21] lucy1017-liu opened #81 "cy.task('GoogleSocialLogin') failed with error "Converting circular structure to JSON""
Thanks for great plugin. I'm working on Google Social Sign on recently. I did a local demo using the examples provided in Github, but I got following errors. Can anyone take a look?

![image](https://user-images.githubusercontent.com/71241226/106123985-8daeda00-6195-11eb-8cd4-ba96b546ff0a.png)

[2021-01-28 16:00] groov1kk opened #82 "Optional social login selector"
Sometimes, you'll get a social login page during redirection actions from specific links. In these cases you don't need to click any social provider buttons at all. But as loginSelector is not optional, in cases of redirections you have to fill it with any fake locators.

So, I've made a fix which makes  socialLogin selector optional.

[2021-01-29 20:51] lirantal commented on #81
There's no serialization that we're doing in the plugin, so I don't know where that is coming from. Perhaps try to debug it further? If you try a different one, does it work better?

[2021-02-01 03:25] lucy1017-liu commented on #81
Thanks for your replying. After debugging, I am able to login Google successfully.

However, I have another question here. After running cy.task('GoogleSocialLogin', socialLoginOptions) and login Google successfully. Cypress test ended.

What should I do to keep the brower keeping on the page after Google login since we have other tests need to run?

[2021-02-01 07:20] lirantal commented on #81
The Cy.task() should be something that your test suites begin with and then you run your tests. To login with Google, you need to save the cookies from the google login, and apply them to Cypress. See the README example for this.

Note, that this will probably not run well on CI because Google will block attempts from unrecognized locations.

[2021-02-02 07:27] lucy1017-liu commented on #81
If I understand you correctly, the examples have apply the cookies from Google login to Cypress using  Cypress.Cookies.defaults({
          preserve: cookieName
        }).

Then we can run my own tests.

How to call Google Social Login without cy.task()?  Since our tests are written within .js file under /integration folder. I'm not familiar with cy.task() at all...

[2021-02-02 09:05] lirantal commented on #81
See here on the README for example usage: https://github.com/lirantal/cypress-social-logins#using-the-social-login

And see here for a branch with a working example: https://github.com/lirantal/cypress-social-logins/tree/test/add-e2e/__tests__/__e2e__

[2021-02-04 10:12] lucy1017-liu commented on #81
Thanks a ton for your reply and examples. I'm able to run my own tests after Google Login !

[2021-02-08 01:36] #81 closed

[2021-02-09 08:10] kubenstein commented on #80
@lirantal Im seconding this. Looks like the project has all abilities we need but readme is just not clear or explicit enough.. Example would be really really appreciated. I stuck at configuring the setup and i think i cant go pass thru it, forcing me to just look somewhere else for functionality i feel is here.
Where all those files should go,  why we need `loginUrl` when we want to login to goog

[2021-02-09 22:51] lirantal commented on #80
@kubenstein I feel you, and wish I could help more but unfortunately, I don't have the time at the moment in putting a more elaborated example on the README.

There's a branch here https://github.com/lirantal/cypress-social-logins/tree/tests/add-cypress-e2e-second-go on the repo that should try to help on how to piece together the functionality. It doesn't work in CI due to the restrictions of cap

[2021-02-17 19:10] simsonek commented on #68
I am getting this on local dev machine and on jenkins. With headles set to true or fals it does not change anything

[2021-02-18 07:28] abhick09 opened #84 "passwordSubmitBtn is not working with customized login"
so i have been trying to login with apple using customLogin but i have not been able to use the passwordSubmitBtn as apple login form has to be username then the password so as i have usernameSubmitBtn working and it passes on to the password then i cant seem to press the passwordSubmitBtn as both of the cases have same btn id where one works with username and does not with password is very wierd

[2021-02-18 07:42] ghost commented on #84
![Screen Shot 2021-02-18 at 13 22 57](https://user-images.githubusercontent.com/45117063/108321948-f1548200-71ec-11eb-8d40-f1ca29cc01d7.png)

[2021-02-18 14:40] lirantal commented on #68
@simsonek if you set headless to false, same?

[2021-02-18 14:43] simsonek commented on #68
@lirantal yep, not sure what can I check in addition

[2021-02-18 15:33] lirantal commented on #68
The original issue is not happening in non-headless mode. It is difficult to say why that is happening for you. Did you setup the correct selector for the plugin to find the login button, etc?

[2021-02-19 19:19] simsonek commented on #68
@lirantal  sory for that, double checked it and you are right, the issue occurs only with headless: true, on non headless I am getting error that my browsers is not secure like on #71  :(

[2021-02-19 19:33] lirantal commented on #68
Yep, that's... everyone's problem :-)
I don't have a way around it, it's basically anti-fraud preventions from these social login providers like Google, GitHub, etc. Some will ask you for a 2FA and others will show a CAPTCHA.

[2021-02-19 19:33] #68 closed

[2021-02-21 17:53] RABrown1986 opened #85 "Need to capture screenshot of remote headed pop-up login"
**Is your feature request related to a problem? Please describe.**
When running cypress-social-login with a headed pop-up remotely any errors are not caught by Cypress screen captures. Local runs may not catch CAPTCHA requests or MFA which are occurring remotely and these are difficult to verify from the normal Cypress "missing locator" error.

**Describe the solution you'd like**
I've created a f

[2021-02-23 21:22] RABrown1986 commented on #85
This has been resolved in https://github.com/lirantal/cypress-social-logins/pull/86, https://github.com/lirantal/cypress-social-logins/pull/87, and https://github.com/lirantal/cypress-social-logins/pull/88

[2021-02-23 21:22] #85 closed

[2021-03-03 11:05] piotrczarnak commented on #71
This is still issue is it any update ?

[2021-03-08 06:30] InvisibleExo commented on #84
The selectors used by puppeteer might not be supported.  Please take a look at this document. https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector

[2021-03-08 08:46] ghost commented on #84
I guess not as it should be a valid selector as the same selector works for usernameSubmitBtn but i have worked around it using customized login but the passwordSubmitBtn does not seem to work as documented.

[2021-03-08 17:44] andieromero opened #89 "Navigation failed because browser has disconnected after updating OS"
After updating to Big Sur OS I'm getting `Navigation failed because browser has disconnected!` when running GoogleSocialLogin. It was definitely working before the update and a fresh install and code checkout on Catalina OS works for my peers. I checked that Chromium was enabled in the Firewall settings so I'm not sure why the browser would be closing unexpectedly. Any other ideas what would be ca

[2021-03-08 21:19] andieromero commented on #89
Upgrading Puppeteer from 2.1.1 -> 8.0.0 works. Can we update the package dependency to 8.0.0? I can't submit a PR to the repo, thank you!

[2021-03-09 21:31] InvisibleExo commented on #84
Is the sign in flow: enter email -> hit submit -> enter pw -> hit submit?
Or
Enter email + pw -> hit submit?

If it's the later, have the passwordSubmitBtn defined, but not the usernameSubmitBtn. Try that if you haven't already. The Btn prop are optional in order for CustomizedLogin to work with both sign in flows mentioned above.

[2021-03-10 10:51] ghost commented on #84
it is enter email -> hit submit -> enter pw -> hit submit apparently apple has the same selector for both usernameSubmit and passwordSubmitbtn so the issue might be caused as it thinks it pressed it while clicking on the usernameSubmit btn so it does not error out or anything it just does not work so i set a delay so that it would work

[2021-03-10 19:39] kalebhushan opened #90 "facebookSocialLogin doesnt enter the complete facebook username"
I am using cypress-social-logins to authenticate a facebook user to my website exporting the `FacebookSocialLogin` task from `plugins/index.ts`. However, the username gets cut short as you can see in the screenshot below. My test looks like below:

`it('Login through Facebook', () => {

      const username = Cypress.env('fbSocialLoginUsername');
      const password = Cypress.env('fbSocialLoginPa

[2021-03-10 19:58] InvisibleExo commented on #84
Thats what I'm thinking with hitting the button. Might need to have additional check if button needs to wait for 1 second if it becomes clickable again.  Maybe use the additionalSteps prop and define your function inside the index under plugins.

[2021-03-10 20:24] ghost commented on #84
yup closing this as i solved it via customized login like you suggested thanks for the reply :)

[2021-03-10 20:24] #84 closed

[2021-03-11 16:35] kalebhushan commented on #90
Has anyone seen this before? Happens with facebook but not with google.

[2021-03-12 03:00] XeniyaShirinova commented on #90
Did you tried to interact with Facebook form without using cypress-sosial-login library?
I've found this `cy.get(...).invoke('val', 'email@example.com')` as a work around which can help. https://github.com/cypress-io/cypress/issues/5480

[2021-03-12 13:50] kalebhushan commented on #90
We can use cy.get but that would mean not using the recommended plugin. While it will work, it wouldnt be optimal.

[2021-03-16 14:46] kalebhushan88 opened #91 "AdditionalSteps fails for entering google 2fa code"
I am using the additionalSteps option to enter a token in google 2fa authentication. The token is generated using the totp-generator plugin. The additional steps looks like:

`additionalSteps: async function moreSteps() => {cy.get('input#idvPin').type(token);}`

However, `GoogleSocialLogin` fails because it does not acknowledge the 2fa code field and fails trying to look for my `postLoginSelector`

[2021-03-18 07:02] sarathchandrakvn opened #92 "Cannot Complete Google Oath Sign-on Using Cypress-social-login"
Hello Team,

I'm unable to login into my client that uses Google Oauth as a sign-on. Below are steps :

1. When the automation job kicks off, it initially navigates to google accounts sign-on.
2. Using cypress-social-login, it can login fine into the google account.
3. After google login, it goes to my client page that has a button for log-in (Assuming it had already logged in from previous window

[2021-03-23 14:29] InvisibleExo commented on #91
Where did you define your additionalsteps property? Have you read the troubleshoot section regarding additionalsteps?

[2021-03-23 17:28] BhushanAB commented on #91
Under the `const socialLoginOptions`

[2021-03-24 03:45] InvisibleExo commented on #91
Which file? In your plugins or test file? Looking at your code snippet, it looks like you defined it in your test file. You need to define that property in plugin file.

[2021-03-24 13:11] BhushanAB commented on #91
Got it thanks. I was indeed defining it in the test file. Read the troubleshooting steps later. Do you have an example of how can this be defined for GoogleSocialLogin?

[2021-03-24 13:24] InvisibleExo commented on #91
The troubleshooting q and a provide in the example near the bottom of the Readme file.

[2021-03-24 13:25] BhushanAB commented on #91
Thanks a lot.

[2021-03-24 13:25] #91 closed

[2021-03-29 14:25] lgsf commented on #79
I am also looking up for it.
Were you able to get it to work?
If anyone has found a way to make it work, please share.

[2021-04-12 20:13] mcopjan opened #93 "WebSocket is not open: readyState 3 (CLOSED)*"
I tried to use this plugin, but what I observed (running headless = false) is when I am navigated to my test page, then element corresponding to postLoginSelector is clicked and google login window appears. At this point login window is closed and test fails with error **WebSocket is not open: readyState 3 (CLOSED)**
Looking at the Stack Trace I can see this error is being fired by puppeteer on li

[2021-04-13 13:28] mcopjan commented on #93
Any comments would be highly appreciated.

[2021-04-14 11:47] osky9913 opened #94 "Running in headless mode == true in google login will return google login with captcha"
When I used in config headless = true then this will occur
![Untitled](https://user-images.githubusercontent.com/36959325/114705552-2500e380-9d28-11eb-8508-a32e3e0e56f6.png)
)

if I am not in headless mode everything works fine

[2021-04-15 23:22] marcoarruda opened #95 "Error: net::ERR_CERT_AUTHORITY_INVALID at https://localhost:8080/#/"
Hi

I have this vue.js app which, after some hacks (creating local certificate and enabling my dev env for social auth), I could make it testable in my local environment using `https://localhost:8080/`.

Althought cypress chrome browser does not enter the page due to the invalid authority of my self-signed certificate.
I didn't find any issues related to that. Maybe I am missing something in my wa

[2021-04-21 05:52] Seunghan-Jung opened #96 "google social login Secure issue"
The password window does not appear after entering the ID.

![image](https://user-images.githubusercontent.com/54357492/115502727-56d9f300-a2b0-11eb-836d-d7de4b9dbd2a.png)

So cypress can't find the password input.

![image](https://user-images.githubusercontent.com/54357492/115503114-e1225700-a2b0-11eb-9dd0-4e4e1cb5fac7.png)

This is my code

[code]

[2021-05-11 19:28] fractaleater commented on #71
Seems like Google login is not going to work anymore.. at all. Must use headless: false to get anything going, and then it finds the username field, but is denied by Google policy, so can't reach password page.

Unless you're waiting to see if Google changes their policy, or a miracle work-around appears, perhaps would be best to put a disclaimer in the README that Google is no longer supported. S

[2021-05-12 14:30] evemontalvao commented on #79
I'm having some trouble with Github social login as well, the loginSelector is never found, even though it's on the page. I'm looking desperately for an example too

[2021-05-12 17:27] lirantal commented on #71
I indeed haven't tested that in a while so perhaps some things have changed. Appreciate the input here.

[2021-05-20 08:58] Artem-Kuznetsov-rms opened #97 ""Facebook cookie" window."

[2021-05-20 08:59] #97 closed

[2021-05-20 09:09] Artem-Kuznetsov-rms opened #98 "How i can close the "Facebook cookie" window?"
How i can close the "Facebook cookie" window

![image](https://user-images.githubusercontent.com/80107439/118951408-bdac0400-b963-11eb-9c5e-c0b45e96dc2a.png)

I used method and link, but in my case this don't work.

link - [https://github.com/lirantal/cypress-social-logins](url)

This is my code:

[code]

[2021-05-23 20:09] ShanikaWickramasinghe opened #99 "Getting This browser or app may not be secure error after entering the email address for google login"
I am using cypress social login plugin to sign in to my web application via google. During the automation test I can see automated bot typing the google username(email). After typing the username I am getting directed to the below page and not getting the UI to enter the password.

![Screenshot from 2021-05-24 01-26-05](https://user-images.githubusercontent.com/31848014/119274840-8ffadf80-bc2f-11e

[2021-05-23 20:11] ShanikaWickramasinghe commented on #96
@cool-hammer I am also getting the same error. Were you able to get this error resolved

[2021-06-02 06:17] sarathk-blink opened #101 "Cypress-social-login works fine, but after the login, we redirect to a different URL using cy.visit() that fails to load using Etimedout"
I'm using cypress-social-login plugin to login into our application that uses google account as Oauth. I can see that the login happens successfully, cookies are being set and I can verify cookies on the cypress console. When I do cy.visit() after the social login to access my app with the URL, (that uses google account as sign-on) I see below error message.

We attempted to make an http request t

[2021-06-02 14:27] itsjenke commented on #98
+1 Are there any solutions to the problem? Maybe wait and click for _button[data-cookiebanner="accept_button"]_ ?

[2021-06-07 16:12] followbl opened #102 "Facebook Requires SSL"
1.) Thank you for this lib.

2.) Would've totally put this in Github Discussions because there's nothing wrong with this lib at all - more trying to see if anyone has figured this out.

3.) Facebook has recently required SSL for even apps in development mode - which has basically made all of our tests using oAuth not possible. Within our app we have Facebook, Twitter and Linkedin and Twitter and L

[2021-07-05 15:12] d-ivashchuk opened #103 "Having troubles with github auth test on Github Actions CI"
Everything works fine till the point of actual authentication - github asks for verification of the device :D I guess that's pretty not solvable right now? maybe someone knows how to mitigate it.

[2021-07-05 15:54] lirantal commented on #103
Hi there

Looks like you missed up on the disclaimer in the README:
![image](https://user-images.githubusercontent.com/316371/124496630-58508d00-ddc2-11eb-9e2c-532ceba27194.png)

[2021-07-05 16:39] d-ivashchuk commented on #103
Aha, missed indeed 🤔 don't know how could I have missed it, it being so prominent 🙈

too bad, I thought I'd be able to cover both local testing and ci parts with this. Thanks for the heads up, and the plug-in is really awesome 👏🏼

Maybe you've personally stumbled on some example using mocked next-auth session with cypress? Otherwise thanks and we can close this!

[2021-07-06 12:40] alucardu commented on #98
Also having this issue (Netherlands)

![image](https://user-images.githubusercontent.com/779921/124600929-1c4a1600-de1c-11eb-8666-3b13e3db9e0d.png)

[2021-07-06 12:43] alucardu opened #104 "How to bypass Facebook cookie consent?"
cypress-social-logins": "^1.11.3
windows 10
nodejs: v14.2.0

[code]

![image](https://user-images.githubusercontent.com/779921/124600929-1c4a1600-de1c-11eb-8666-3b13e3db9e0d.png)

[2021-07-07 09:52] lirantal commented on #103
I haven't stumbled on anything else. It's a tricky thing to work around due to all the anti-fraud protections that these social networks employ for login.

One idea I can give you is that if you can work out the whole two-factor auth via API (to get the code) then you can definitely work around it and script it into this testing plugin.

[2021-07-07 09:53] lirantal commented on #103
Goodluck and have fun!

[2021-07-07 09:53] #103 closed

[2021-07-07 11:23] lirantal commented on #104
Hi there

Looks like you missed up on the disclaimer in the README:
![image](https://user-images.githubusercontent.com/316371/124496630-58508d00-ddc2-11eb-9e2c-532ceba27194.png)

[2021-07-07 11:23] lirantal commented on #98
Hi there

Looks like you missed up on the disclaimer in the README:
![image](https://user-images.githubusercontent.com/316371/124496630-58508d00-ddc2-11eb-9e2c-532ceba27194.png)

[2021-07-07 11:23] lirantal commented on #98
I'll close, if you don't mind.

[2021-07-07 11:24] lirantal commented on #104
Specifically, about the cookie consent, you would need to clone the cypress-social-logins source code and add a logic block to detect that dialog and approve so you can continue with the flow.

[2021-07-07 11:24] #104 closed

[2021-07-07 11:24] #98 closed

[2021-07-09 07:19] alucardu commented on #104
I didn't miss the disclaimer, it's pretty hard to miss ;)m I'm running the test on my private laptop. Thanks for the tip, so this isn't something that's getting picked up by the dev(s)? I've seen multiple people having the same cookie consent issue.

[2021-07-09 08:14] lirantal commented on #104
Got it, yes. So, indeed you'd need to add the cookie popup detection to the code. I don't have any available time soon to do this but I'm happy to receive a pull request and merge if you're up for it.

[2021-07-09 11:37] Gogowitsch commented on #98
@SimenB @xiphirx @gaearon @bvaughn @kayhadrin Do you happen to know a good way to test or mock a Facebook login on my own website?

I don't want my test suite to cover Facebook code, nor do I care to test the credentials of a particular test user.

I just want to know if my integration is healthy in a continuous integration pipeline.

[2021-07-28 09:38] PierrickG34 commented on #79
Hi, an example that works for Github for me :
[code]

username -> email used when login to github
password -> password used when login to github
loginUrl -> url for the login page that includes the social network buttons
loginSelector -> selector for github link provider where we should click to connect
postLoginSelector -> selector on the post-login page that can be asserted upon to confirm a suc

[2021-07-29 18:23] lirantal commented on #79
Thanks @PierrickG34
Is that also working for you from within a CI or from your own local dev machine?

[2021-07-30 06:36] PierrickG34 commented on #79
@lirantal, for now, I only used it with `cypress open` & `cypress run` on local machine for development and it's seem to works fine.

[2021-07-30 08:58] lirantal commented on #79
Indeed this works as expected locally. The issues are from CI due to multi-factor authentication and captcha mechanisms :-)

[2021-07-30 08:58] lirantal commented on #79
Appreciate sharing the code for others to review, but I'll close the ticket.

[2021-07-30 08:58] #79 closed

[2021-07-30 20:51] Cardoso-topdev commented on #101
Same here.
I like to do google OAuth login with a popup dialog and continue working on my website, without redirecting to the other page. If I insert login URL to the option object, it open a new browser after google login success. I don't like this.
Hi @lirantal!, Would you like to help me with this problem, please?
Thank you very much.

[2021-07-30 21:07] Cardoso-topdev opened #105 "Cypress Social login failing with redirecting to a new blank page."
Hi @lirantal and others!
I am going to test a social login with cypress. I installed this plugin and followed this guides.
It seems social login success but it redirect to the other new blank page.
I want to do social login with a popup dialog and continue working on my website without redirecting to the other page.
Here is the option object I used.
[code]
And this is the Cypress test screen shot.

[2021-09-23 10:03] Kajal-Rani commented on #57
@suryakant-kumar Were you able to fix this issue? I am also facing the same issue.

[2021-10-04 17:35] love1esskris commented on #76
@cbwheadon Hi, I'm able to resolve this error by downgrading puppeteer to 7.1.0, you could change the version in package.json and delete node_modules and do `npm install`

[2021-10-13 15:59] sarathk-blink opened #106 "After the successful Social login, cookies are set to the browser but the client App that uses Oauth is unable to complete login."
Hello Team,

After a successful google-social-login using the pop-up window, we see that the cookies are being set (visible on the left side of the cypress window that runs automation) but when the code hits on the login button after being redirected to the client App that uses Oauth, the application pretends like cookies were never set and cannot login.

We would then have to pause cypress run, i

[2021-10-26 14:13] marcovignotto commented on #4
Hi Everyone!
Looks like I'm not the only having problems!
Cypress does not find the button, I tried every kind of syntax (type, classes... and a cy.get("class") works) but it does not find the button to open the google login. I'm stuck here.

I always get:
waiting for selector "input#identifierId[type="email"]" failed: timeout 30000ms exceeded

but it does not open the login so it will never find

[2021-11-24 08:33] galiavasylieva opened #108 "Not able to remain signed in throughout a single test"
I am using cypress-social-logins plugin to signin to the web application via Google.

I have:

1. custom command `googlesignin`  in support/commands.js that has following:
[code]
2. plugins/index.js file with:
[code]

3. My test:
[code]

ACTUAL BEHAVIOUR:

The test is passing.
When I set `headless: false` in socialLoginOptions - I can see puppeteer going through all the process, logging in with go

[2021-11-29 07:07] baptisteArno commented on #99
Same issue! Did you find a solution?

(The login flow works fine when testing on my nonautomated browser)

[2021-11-29 07:09] baptisteArno commented on #99
Duplicate #43

[2021-12-06 11:18] ErezT commented on #93
@mcopjan i'm having the same error, have you managed to get this fixed somehow?

[2021-12-06 12:53] mcopjan commented on #93
@ErezT I have spent a lot of time on this and ultimately could not figure it out. I ended up login into SUT bypassing Google auth (our app was storing refresh token in local storage of Web app, so I injected this token before starting any tests, app was then able to exchange refresh token for access one and log me in)

[2021-12-10 01:08] gremz opened #109 "Add Basic Authentication to Configuration Object"
**Is your feature request related to a problem? Please describe.**
I propose allow an optional `loginUrlCredentials` config which provides basic authentication credentials when
visiting `loginUrl`. I came across this issue when testing on a site which required basic authentication.

**Describe the solution you'd like**
Basic Authentication credentials for the `loginUrl` . I've have a branch Im usi

[2021-12-10 20:17] #109 closed

[2021-12-17 16:34] s-kris commented on #90
I can confirm that the same issue is happening to me 19 out of 20 times when trying to login with facebook.

For some reason, the email is correctly typed only 1 time. Totally random!

cypress: 9.1.1
cypress-social-login: 1.13.0

[2021-12-20 04:30] and-why commented on #96
Looks like there is more info over here: https://github.com/lirantal/cypress-social-logins/issues/43

[2022-01-26 23:10] davidkhayutin opened #111 "Question About additional steps"
- **Library Version**: 1.13.0
- **OS**: Mac
- **Node.js Version**: 16+

Hello

I have been able to successfully login with google - however on my app - after google login completes - there is an additional step to fill out within my application - and I wondering if something like this will be possible to do

I read the documentation regarding additional steps - but this does not seem to integrate

[2022-01-27 19:21] lirantal commented on #111
You can do the in-app step in your own Cypress test code, that shouldn't be part of this plugin.

[2022-01-27 19:39] davidkhayutin commented on #111
I dont think it will work that way given how the app is currently build

currently in my extra steps function I am trying to find an element on screen but I get an error every time

[code]
![Screen Shot 2022-01-27 at 11 37 53 AM](https://user-images.githubusercontent.com/39314878/151431460-ffc74f59-1809-4d7f-a880-e26e8f01f0bc.png)

being called with

[code]

[2022-01-27 20:00] lirantal commented on #111
That element is part of the login to Google screen or on your own app?

[2022-01-27 21:00] davidkhayutin commented on #111
on the app - but its showing up in chromium - after google pop up closes on successful login

[2022-01-28 08:03] lirantal commented on #111
The only callbacks that can help you are `postLoginSelector` to validate the login and `postLoginClick`. When the login is successful, you should do the rest of the flow of your app in your regular Cypress tests.

[2022-02-24 05:26] jamminjames opened #113 "npm reports puppeteer version is outdated. Tried to update, can't."
When updating npm packages, npm warns that puppeteer version is outdated. I tried to update it, but it seems that cypress-social-logins keeps installing the old one.

How can I get cypress-social-logins to use the updated puppeteer for its dependency?

[2022-02-24 12:52] jamminjames opened #114 "Can't import cypress-social-logins, tried various ways"
I can't seem to get past bringing in 'cypress-social-logins', nothing is working.

The recommended way:
`const {GoogleSocialLogin} = require('cypress-social-logins').plugins;`
fails because of an error "require is not defined", even though I have RequireJS added via npm, which some say would fix that.

I've tried things like:
`import { GoogleSocialLogin } from 'cypress-social-logins';`  and  `impo

[2022-02-25 09:33] jamminjames commented on #114
Okay, now just using the require.js, and calling the login script like so, as per [RequireJS docs](https://requirejs.org/docs):
`<script data-main="res/login" src="res/require.js"></script>`
So that seems to take care of the "require is not defined" error, and am now bringing in the plugin like so, at the top of the login.js script:
[code]

But now I'm getting a "Mismatched anonymous define() modu

[2022-02-25 09:46] #114 closed

[2022-02-25 09:48] jamminjames opened #115 "Can't solve "Mismatched anonymous define() module" error"
As per [RequireJS docs](https://requirejs.org/docs), I am loading the script on the login page with this:
`<script data-main="res/login" src="res/require.js"></script>`

At the top of the login.js script I have:
[code]

But I'm getting a "Mismatched anonymous define() module" error. I've read through the RequireJS documentation, but don't understand how to deal with this.

After that error, I'm ge

[2022-02-25 12:07] lirantal commented on #113
I haven't tested with a new version and I'm unsure it won't break anything

[2022-03-10 15:53] yurakhomitsky opened #116 "Question: Pre Login flow"
Before I get to Microsoft I have to go through some additional flow.

1. I'm visiting my application URL: https://example.com
2. I'm getting redirected to the login screen where I need to press the button
![image](https://user-images.githubusercontent.com/54478076/157699464-5a1ec33a-0122-497d-93fd-b6f0b56e1c7d.png)
3. Next I need to type an email
![image](https://user-images.githubusercontent.com/

[2022-03-16 12:03] wisniewski94 commented on #116
Hi @yurakhomitsky , the quick answer is no.

But I have challenged lately similar problem and I have forked the repo and made some changes. You can check the diff between both versions. Luckily the source is not complex.

https://github.com/wisniewski94/cypress-social-logins

We should consider adding some pre-login callback to this repository. My solution is not greatest but solves similar proble

[2022-03-21 15:03] CristianPContreras opened #121 "Cypress-social-logins plugin causes error: > Converting circular structure"
Current behavior
I am trying to use the cypress-social-logins plugin. To set up my environment, I am following these instructions: https://github.com/lirantal/cypress-social-logins

When I try to use the plugin I am getting the following error message.

cy.task('FacebookSocialLogin') failed with the following error: > Converting circular structure to JSON -->
starting at object with constructor 'O

[2022-05-13 10:43] enisze opened #123 "FacebookSocialLogin & GoogleSocialLogin don't work"
Using the facebook authentication is not working:

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/15271433/168266760-98ee8276-b7a9-4400-915d-8bc993121b45.png">

For google authentication:

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/15271433/168267639-899fe51e-8c62-4486-ae97-411cd4383402.png">

Most of the time also chromium crashes. I

[2022-08-29 06:31] tae100k opened #124 "No overload matches this call error in then block (code attached)"
Hello, thanks for making this plugins. It really helps me a lot to test social login.
Just one thing is that I have type error here.
I looked up a lot, and still haven't figured out how to do it.

## Error message

No overload matches this call.
  The last overload gave the following error.
    Argument of type '({ cookies }: { cookies: cookieType[]; }) => void' is not assignable to parameter of t

[2022-09-09 03:28] ryanwoconnor opened #125 "Tests are running successfully locally, but consistently receiving a timeout when running in CI"
I have the following test which works fine locally. However when run from CI I consistently am getting a timeout when trying to get the postLoginSelector.

Any ideas on why this might be?

[code]

[code]

[2022-09-20 14:13] AndyDonits opened #126 "Support for shadow DOM elements in social login?"
Hello :)

I'm trying to execute the task `GoogleSocialLogin`;
### Here is the  custom command I'm using for this:
[code]

### **So what value should I put inside the loginUrl property in case I have an element that sits under the shadow-dom element?**

I marked the shadow element I'm trying to reach:
![Screen Shot 2022-09-20 at 17 11 54](https://user-images.githubusercontent.com/96722829/191280880

[2022-09-20 14:22] AndyDonits commented on #126
BTW, already tried adding this: `includeShadowDom: true` to `cypress.config.js`, but unfortunately it doesn't work. I guess because the task opens a chromium browser separately.

[2022-10-10 21:56] muneebrana23 commented on #123
@enisze  I'm facing the same issues you reported for both Facebook and Google. were you able to resolve them?

[2022-10-13 22:47] muneebrana23 opened #127 "How to handle facebook allow cookies popup which is hardle to process login process/"
I'm getting below issue  even I'm using 'trackingConsentSelectors' which handles permissions to allow cookie but not working maybe "Allow cookies button is not visible
![image](https://user-images.githubusercontent.com/32091742/195724446-46e52446-8b7d-49fc-8e57-f3026631faa8.png)

[2022-10-14 11:23] waqas973 opened #128 "Is there any way in which we can solve verify the code send by google using cypress-social-plugin for the first time"
I am using the cypress-social-plugin to automate google login using cypress. But the problem is whenever I put new google account credentials inside of cypress-social-plugin commands as mentioned in docs and try to run the test for the first time it say me to verify that it's you if I verify manually and run the test again then it does not ask me verification and test pass successfully. I want to

[2022-10-14 12:47] waqas973 commented on #123
@enisze  I have a same issue with my google account but if you create a new google account with no security in it then it works successfully.

[2022-10-30 20:56] ghost commented on #125
Potentially due to this issue mentioned in the README?

[2022-11-14 17:14] lindsaymacvean commented on #71
I ended up just writing my own cypress steps to login. Going to document on this stackoverflow here
https://stackoverflow.com/questions/74396602/how-to-log-in-to-cognito-google-oauth-using-cypress/74396755#74396755

[2022-11-14 17:39] lindsaymacvean commented on #4
I was able to write a complete login process from AWS Cognito to Google Login pages and back to my app. Might be helpful to some...

[https://stackoverflow.com/a/74435696/2827300](https://stackoverflow.com/a/74435696/2827300)